@using Gauniv.WebServer.Data
<h1>Parcourir les catégories de jeux</h1>

@model List<Gauniv.WebServer.Data.Category>

<p>Cliquez sur une catégorie pour voir les jeux disponibles.</p>

@if (User.Identity?.IsAuthenticated == true && User.IsInRole("Admin"))
{
    <a class="btn btn-primary" asp-action="Create">Ajouter une catégorie</a>    
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Liste de jeux</th>
            <th>
                @if (User.Identity?.IsAuthenticated == true && User.IsInRole("Admin"))
                {
                    <a>Actions</a>
                }

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (Category item in Model)
{
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>
                <a asp-controller="Games"
                asp-action="Index"
                asp-route-categoryId="@item.Id">
                    Voir les jeux
                </a>
            </td>
            <td>
                @if (User.Identity?.IsAuthenticated == true && User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a>
                    <span> | </span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>